server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/npdb
    username: ${DB_USER:yfguo}
    password: ${DB_PASSWORD:npdb2024}
    driver-class-name: org.postgresql.Driver

mybatis-plus:
  configuration:
    map-underscore-to-camel-case: true
    cache-enabled: false
  global-config:
    db-config:
      id-type: auto

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
